<div class="navbar">
    <div class="top">
        <mat-icon>notifications_none</mat-icon>
    </div>
    <div class="user">
        <img class="avatar" src="assets/img/jose.jpg" alt="">
        <h4 class="name">Admin</h4>
        <p class="mail">admin@email.com</p>
    </div>
    <div class="menu">
        <div class="menu-head">
            <span>dashboard</span>
        </div>
        <div class="menu-items">
            <button mat-button class="menu-button" [routerLink]="['/admin/dashboard']">
                <mat-icon>dashboard</mat-icon>
                <span>home</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>message</mat-icon>
                <span>conmments</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>pages</mat-icon>
                <span>Pages</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>settings</mat-icon>
                <span>Setting</span>
            </button>

        </div>
    </div>
</div>
